@import "normalize.css";
@import "./scss/mixins";
@import "./scss/functions";
@import "./scss/typography";
@import "./scss/ui_elements";


/* LAYOUT */
.pageContainer {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-rows: 20px 1fr;

  @include desktop {
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: 40px 1fr 80px;
  }

  .innerContainer {
    grid-column: 2;
    grid-row: 2;
  }
}
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: $white;
    margin-bottom: 20px;
    nav {
        display: grid;
        width: 100%;
        
        button {
          display: flex;
          align-items: center;
          margin: 0 auto;
          color: $darkTeal;
          font-family: $font-heading;
          img {
            width: 60px;
          }
          @include tablet {
            display: none;
          }
        }
        ul {
            padding: 0;
            margin: 0;
            text-align: center;
            transition: all .3s ease-in-out;
            overflow: hidden;
            height: 0;
            border-bottom: 1px dotted $darkTeal;

            &#mobileMenu {
              @include tablet {
                display: none;
              }
            }

            &.desktopMenu {
              display: none;
              @include tablet {
                display: block;
                height: auto;
              }
            }

            &.showMenu {
              height: 100%; 
            }
             li {
                padding:0;
                list-style: none;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                  text-decoration: none;
                }
            }
        }
    }
}//header
.lace {
    width: 100%;
}
section {   
    p {
        margin-bottom: rem-calc(20);
    }
    &.hero {
        text-align: center;
        .image {
            max-width: 250px;
            margin: 0 auto;
            @include desktop {
                width: 350px;
                max-width: 100%;
            }
        }
        p {
            margin: 0;

            &.showFullscreen {
                display: none; 
                color: $teal;
                font-size: 40px;
                font-family: $font-cursive;
                @include fullscreen {
                    display: block;
                }
            }
        }
    }
    &.mainContent {
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
}

footer {
    padding: rem-calc(40) 0;
    background: $darkTeal;
    color: $sand;
    text-align: center;
    grid-column: 2;
    grid-row: 3;
    .content {
        max-width: 60vw;
        margin: 0 auto;
        @include tablet {
            max-width: 70vw;
        }
        @include lgDesktop {
            max-width: 60vw;
        }
        p {
            @include font-size(20px);
            @include desktop {
                margin-bottom: 0;
                margin-right: rem-calc(20);
            }
        }
        a {
            color: $sand;
            @include font-size(16px);
            @include desktop { 
                @include font-size(18px);
            }
        }
    }
}
