@import "normalize.css";
@import "./scss/mixins";
@import "./scss/functions";
@import "./scss/typography";
@import "./scss/ui_elements";

nav {
    ul {
        li {
            list-style-type: circle;
            display: inline;
        }
    }
}
.container {
    background-image: url("../images/backgroundScenery.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .inner {
        padding: rem-calc(40) rem-calc(40) rem-calc(80);
        max-width: 60vw;
        margin: 0 auto;
        background: rgba(255,255,255,0.9);
        @include tablet {
            max-width: 70vw;
            padding: rem-calc(100) rem-calc(40) rem-calc(140);
        }
        @include desktop {
            max-width: 80vw;
        }
    }
}
/* LAYOUT */

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    nav {
        display: grid;
        justify-content: center;
        img {
            width: 100px;
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                margin-left: 40px;
            }
        }
    }
}
section {
    margin-bottom: rem-calc(40);
    p {
        margin-bottom: rem-calc(20);
    }
    &:last-child {
        margin: 0;
    }

    &.hero {
        text-align: center;
    }
    &.mainContent {
        max-width: 550px;
        margin: 0 auto;
    }
}
footer {
    padding: rem-calc(40) 0;
    background: $darkTeal;
    color: $sand;
    text-align: center;
    .content {
        max-width: 60vw;
        margin: 0 auto;
        @include tablet {
            max-width: 70vw;
        }
        @include desktop {
            max-width: 80vw;
            display: flex; 
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        p {
            @include font-size(20px);
            margin-bottom: rem-calc(20);

            @include desktop {
                margin-bottom: 0;
                margin-right: rem-calc(20);
            }
        }
        a {
            color: $sand;
            @include font-size(16px);
            @include desktop { 
                @include font-size(18px);
            }
        }
    }
}
